
/* Your CSS Code here. */
#first{
	background-color:green;
	width:90px;
	height:90px;
}
#second{
	background-color:red;
	width:90px;
	height:90px;
}
#third{
	background-color:blue;
	width:90px;
	height:90px;
}
.holder{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	
}